---
repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-xml
      - id: check-symlinks
      - id: check-added-large-files
        stages: [commit]
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: detect-private-key
  - repo: "https://github.com/xbcsmith/x-commit-hooks"
    rev: main
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: golangci-lint
      - id: golangci-megalint
      - id: go-unit-tests
      - id: yamllint
      - id: commitlint
      - id: markdownlint
      - id: shellcheck
      - id: checkyml
